---
import MainLayout from '@/layouts/MainLayout.astro';
import { Separator } from '@/components/ui/separator';
import { Image } from 'astro:assets';
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from '@/components/ui/table';
import { ExternalLink } from 'lucide-vue-next';
import { getCollection } from 'astro:content';
import { Badge } from '@/components/ui/badge';

const courses = await getCollection('courses');
const articles = await getCollection('articles');
const bookshelf = await getCollection('bookshelf');
---

<MainLayout
  title="School | John Galindez"
  description="Check out my education background and certifications in computer science, web development, and technology. Lifelong learning and upskilling as a developer."
>
  <section class="relative flex flex-col items-center justify-center pt-24 md:pt-36 md:pb-12">
    <div class="container mx-auto max-w-6xl px-4">
      <div>
        <h1 class="flex text-4xl font-bold md:text-5xl lg:text-6xl">
          <img src="/icons/pre-title.svg" alt="Pre-title" class="mr-2 h-8 w-8" />
          The <span class="text-primary ml-2">School</span>
        </h1>
        <Separator class="my-4 max-w-sm" />
        <p class="text-muted-foreground max-w-2xl text-sm md:text-base">
          Here there is a list of my educational journey, starting from my Computer Science Degree
          to independent courses and certifications.
        </p>
      </div>
      <div class="mt-6 grid grid-cols-1 gap-8 md:grid-cols-3">
        <div class="col-span-2">
          <h2 class="text-2xl font-bold">Certifications</h2>
          <Table class="mt-4">
            <TableHeader>
              <TableRow>
                <TableHead>Status</TableHead>
                <TableHead>Course</TableHead>
                <!-- <TableHead>Skills</TableHead>
                <TableHead>School</TableHead> -->
              </TableRow>
            </TableHeader>
            <TableBody>
              {
                courses.map(({ data }) => (
                  <TableRow class="hover:bg-muted/50 h-18">
                    <TableCell>{data.status}</TableCell>
                    <TableCell class="flex flex-col gap-2">
                      <a
                        target="_blank"
                        class="inline-block cursor-pointer font-bold hover:underline"
                        href={`/courses/${data.certificationUrl}`}
                      >
                        <ExternalLink class="inline-block h-4 w-4" /> {data.title}
                      </a>
                      <div class="flex flex-wrap">
                        {data.technologies.map((tec) => (
                          <Badge class="mr-2 rounded-full" variant="outline">
                            {tec}
                          </Badge>
                        ))}
                      </div>
                    </TableCell>
                    {/* <TableCell>
                      {data.technologies.map((tec) => (
                        <Badge class="mr-2 rounded-full font-bold" variant="secondary">
                          {tec}
                        </Badge>
                      ))}
                    </TableCell>
                    <TableCell>{data.school}</TableCell> */}
                  </TableRow>
                ))
              }
            </TableBody>
          </Table>
        </div>
        <div class="col-span-1">
          <h2 class="text-2xl font-bold">Latest Articles</h2>
          <div class="mt-4 flex flex-col gap-4">
            {
              articles.map(({ data }) => (
                <a href={data.link} target="_blank" class="inline-block text-sm hover:underline">
                  <ExternalLink class="inline-block h-4 w-4" /> {data.title}
                </a>
              ))
            }
          </div>
          <h2 class="mt-8 text-2xl font-bold">Book Shelf</h2>
          <div class="mt-4 flex h-[340px] flex-col justify-start gap-6 overflow-auto">
            {
              bookshelf.map(({ data }) => (
                <div class="flex items-center gap-4">
                  <Image inferSize={true} src={data.cover} alt={data.title} class="h-34 w-26" />
                  <div>
                    <p class="font text-sm">{data.title}</p>
                    <blockquote class="my-2 text-xs font-semibold italic dark:text-white">
                      <p>{data.caption}</p>
                    </blockquote>
                    <p class="text-xs">{data.author}</p>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
