---
import '@/styles/global.css';
import '@/styles/fonts.css';

import Footer from '@/layouts/Footer.astro';
import HeadSEO from '@/layouts/HeadSEO.astro';
import Navbar from '@/ui/Navbar.vue';
import { Calendar } from 'lucide-vue-next';
import { Badge } from '@/components/ui/badge';
import { Separator } from '@/components/ui/separator';
import { ClientRouter } from 'astro:transitions';

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <HeadSEO title={frontmatter.title} description={frontmatter.description} />
  <body class="flex min-h-screen flex-col">
    <header>
      <Navbar client:load />
      <ClientRouter />
    </header>
    <main class="flex-grow">
      <!-- <div class="absolute inset-0 -z-10 dark:hidden">
        <div class="h-full w-full bg-[url('/images/hero-pattern.svg')]"></div>
      </div> -->
      <section class="relative flex flex-col items-center justify-center pt-24 md:pt-36 md:pb-12">
        <div class="container mx-auto max-w-6xl px-4">
          <div class="flex items-center justify-around gap-4">
            <div class="flex flex-col items-center gap-2">
              <Calendar class="h-5 w-5" />
              <p class="text-muted-foreground text-sm">{frontmatter.pubDate}</p>
              <h1 class="mb-4 text-4xl font-bold">{frontmatter.title}</h1>
              <div class="flex flex-wrap gap-2">
                {frontmatter.tags.map((tag) => <Badge key={tag}>{tag}</Badge>)}
              </div>
            </div>
            <!-- <div class="flex items-center gap-2">
              <img class="h-6xl w-6xl rounded-sm" src={frontmatter.image} alt={frontmatter.title} />
            </div> -->
          </div>
          <Separator class="my-8" />
          <div class="prose dark:prose-invert">
            <slot />
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>

<!-- Hack: its only global because of the way the markdown is rendered -->
<style is:global>
  .prose h1 {
    font-size: 3rem;
    font-weight: 600;
  }
  .prose h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  .prose h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .prose p {
    padding: 0.5rem;
  }
  .prose hr {
    margin: 1.5rem 0;
  }
  .prose pre {
    border-radius: 5px;
    padding: 20px;
    margin: 0 10px;
  }
  .prose ol,
  .prose ul,
  .prose menu {
    list-style: disc;
    padding-left: 1rem;
    margin: 1rem;
  }
  .prose blockquote {
    border-left: 4px solid #000;
    padding-left: 1rem;
    margin: 1.5rem;
  }
</style>
