---
import '@/styles/global.css';
import '@/styles/fonts.css';

import Footer from '@/layouts/Footer.astro';
import HeadSEO from '@/layouts/HeadSEO.astro';
import Navbar from '@/ui/Navbar.vue';
import { ClientRouter } from 'astro:transitions';

interface Props {
  title: string;
  description?: string;
  image?: string;
  siteName?: string;
  author?: string;
  keywords?: string;
  googleSiteVerification?: string;
}

const {
  title,
  description = 'John Galindez, Frontend Engineer specializing in web development, JavaScript, TypeScript.',
  image = '/og-image.png',
  siteName = 'Portfolio | John Galindez',
  author = 'John Galindez',
  keywords = 'John Galindez, Software Engineer, Frontend Developer, JavaScript, TypeScript, Astro',
  googleSiteVerification = import.meta.env.GOOGLE_ANALYTICS_ID,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <HeadSEO
    title={title}
    description={description}
    ogImage={typeof image === 'string' ? new URL(image, Astro.site) : image}
    siteName={siteName}
    author={author}
    keywords={keywords}
    googleSiteVerification={googleSiteVerification}
  />
  <body class="flex min-h-screen flex-col">
    <header>
      <Navbar client:load />
      <ClientRouter />
    </header>
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
